<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE node [
	<!ELEMENT node (node*)>
	<!ATTLIST node name CDATA #REQUIRED>
	<!ATTLIST node url CDATA #IMPLIED>
	<!ATTLIST node icon CDATA #IMPLIED>
	<!ATTLIST node pattern CDATA #IMPLIED>
]>

<node name="首頁" url="~/Home" icon="fa-home">

	<node name="配置圖" icon="fa-image" url="~/CtrlStatus/Map" />
	
	<node name="倉庫管理" icon="fa-gears" url="~/StoreLocation/List">
		<node name="儲區設定" icon="fa-cubes" url="~/Zone/List"></node>
		<node name="載具設定" icon="fa-inbox" url="~/Carrier"></node>
		<node name="庫位設定" icon="fa-cube" url="~/StoreLocation/List"></node>
		<node name="庫位分布" icon="fa-th" url="~/StoreLocation/Map"></node>
		<node name="庫存資料" icon="fa-database" url="~/StoreMaterial/List"></node>
		<node name="庫存紀錄" icon="fa-history" url="~/StoreMaterial/RecordList"></node>
	</node>

	<node name="命令管理" icon="fa-file-text" url="~/CtrlCommand/List" >
		<node name="命令狀態查詢" icon="fa-truck" url="~/CtrlCommand/List"></node>
		<node name="命令狀態查詢" icon="fa-truck" url="~/CtrlCommand/Detail"></node>
		<node name="命令料件查詢" icon="fa-truck" url="~/CtrlCommand/MaterialList"></node>
		<node name="命令紀錄" icon="fa-history" url="~/CtrlCommand/RecordList"></node>
	</node>

	<node name="設備管理" icon="fa-newspaper-o" url="~/CtrlStatus/AlarmList">
		<node name="設備狀態" icon="fa-dashboard" url="~/CtrlStatus/Overview"></node>
		<node name="設備紀錄" icon="fa-file-text" url="~/CtrlStatus/Record"></node>
		<node name="警報紀錄" icon="fa-volume-up" url="~/CtrlStatus/AlarmList"></node>
		<node name="BC 紀錄" icon="fa-history" url="~/CtrlStatus/Log"></node>
		<node name="PLC 工具" icon="fa-gears" url="~/CtrlStatus/TransactionTool"></node>
		<node name="Variable" icon="fa-desktop" url="~/CtrlStatus/VariableMonitor"></node>
	</node>

	<node name="系統管理" icon="fa-gear" url="~/elmah.axd" >
		<node name="角色管理" icon="fa-users" url="~/Role/"></node>
		<node name="使用者管理" icon="fa-user" url="~/User/"></node>
		<node name="Elmah 錯誤記錄" icon="fa-exclamation-triangle"  url="~/elmah.axd"></node>
	</node>

</node>
