<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE menus [
  <!ELEMENT menus (menu*)>
  <!ELEMENT menu (sub*)>
  <!ATTLIST menu name CDATA #IMPLIED>
  <!ATTLIST menu url CDATA #IMPLIED>
  <!ATTLIST menu act CDATA #IMPLIED>
  <!ATTLIST menu icon CDATA #IMPLIED>
  <!ATTLIST menu pattern CDATA #IMPLIED>
  <!ATTLIST menu target (_blank|dialog) #IMPLIED>
  <!ATTLIST menu useFirstSubUrl (true|false) #IMPLIED>
  <!ELEMENT sub EMPTY>
  <!ATTLIST sub name CDATA #IMPLIED>
  <!ATTLIST sub url CDATA #REQUIRED>
  <!ATTLIST sub act CDATA #IMPLIED>
  <!ATTLIST sub icon CDATA #IMPLIED>
  <!ATTLIST sub pattern CDATA #IMPLIED>
  <!ATTLIST sub target (_blank|dialog) #IMPLIED>
]>

<menus>
  <menu name="配置圖" icon="fa-file-image-o" url="~/CtrlStatus/Map" />
  <menu name="主控台" icon="fa-desktop" url="~/CtrlStatus/Console" />

  <menu name="庫存管理" icon="fa-database">
    <sub name="庫存資料" icon="fa-database" url="~/StoreMaterial/List" />
    <sub name="庫存紀錄" icon="fa-history" url="~/StoreMaterial/RecordList" />
  </menu>

  <menu name="命令管理" icon="fa-file-text">
    <sub name="命令狀態查詢" icon="fa-truck" url="~/CtrlCommand/List" pattern="/CtrlCommand/(List|Detail)" />
    <sub name="命令料件查詢" icon="fa-truck" url="~/CtrlCommand/MaterialList" />
    <sub name="命令紀錄" icon="fa-history" url="~/CtrlCommand/RecordList" />
  </menu>

  <menu name="倉庫管理" icon="fa-gears">
    <sub name="庫位設定" icon="fa-list" url="~/StoreLocation/List" />
    <sub name="庫位分布" icon="fa-th" url="~/StoreLocation/Map" />
    <sub name="料號設定" icon="fa-cube" url="~/Material/List" />
  </menu>

  <menu name="設備管理" icon="fa-newspaper-o">
    <sub name="設備狀態" icon="fa-dashboard" url="~/CtrlStatus/Overview" />
    <sub name="設備紀錄" icon="fa-file-text" url="~/CtrlStatus/Record" />
    <sub name="警報紀錄" icon="fa-volume-up" url="~/CtrlStatus/AlarmList" />
    <sub name="BC 紀錄" icon="fa-history" url="~/CtrlStatus/Log" />
    <sub name="PLC 工具" icon="fa-gears" url="~/CtrlStatus/TransactionTool" pattern="/CtrlStatus/TransactionTool" />
    <sub name="Variable" icon="fa-desktop" url="~/CtrlStatus/VariableMonitor" />
    <sub name="Notifier" icon="fa-desktop" url="~/CtrlStatus/NotifiMonitor" />
  </menu>

  <menu name="系統管理" icon="fa-gear" >
    <sub name="角色管理" icon="fa-users" url="~/Role/" act="STK_RoleSetting" />
    <sub name="使用者管理" icon="fa-user" url="~/User/" act="STK_UserSetting" />
    <sub name="Elmah 記錄" icon="fa-exclamation-triangle"  url="~/elmah.axd" target="_blank" />
  </menu>

</menus>

