<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		throwExceptions="false"
		autoReload="false"
>
	
	<!-- make sure to set 'Copy To Output Directory' optison for this file -->
	<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

	<variable name="logDir" value="${basedir}/log" />
  
	<targets async="true">

		<target name="file"
				xsi:type="File"
				encoding="UTF-8"
				fileName="${logDir}/${date:format=yyyyMMdd}.txt"
				archiveFileName="${logDir}/{#}.txt"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
				maxArchiveFiles="7"
				layout="${longdate} | ${level:uppercase=true} | ${message}   ${exception:format=toString}"	
		/>
		    
  
		<target name="console" xsi:type="Console" />
	</targets>

	<!-- Trace < Debug < Info < Warn < Error < Fatal < Off -->
	<rules>	
		<logger name="*" minlevel="Warn" writeTo="file" />
	</rules>
</nlog>
